body {
    margin: 0;
    font-family: Arial;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header {
    background: #007bff;
    color: white;
}

nav ul,
.nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.hero {
    background: #f0f7ff;
    text-align: center;
    padding: 80px 20px;
}

.btn {
    background: #007bff;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

.light {
    background: #f5f5f5;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    width: 250px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    gap: 10px;
}

input,
textarea {
    padding: 10px;
}

button {
    background: #007bff;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
}

footer {
    background: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 22px;
    text-decoration: none;
}